@{Layout="_Layout";}

@Html.Partial("Header")
<br>
<p>@Model.GetName() :</p>          <br>
<p>Phone: @Model.GetPhone()</p>    <br>
<p>Address: @Model.GetAddress()</p><br>

<a href="/">Click here to go back to homepage</a><br>
