@{Layout = "_Layout";}

<p>Here you can add a new contact</p>
<br>
<form action="/contact/new" method="post">
  <label for="contact-name">  </label>
  <input type="text" name="contact-name"    id="contact-name" value="Their name here">
  <label for="contact-phone"> </label>
  <input type="text" name="contact-phone"   id="contact-phone" value="Their phone here">
  <label for="contact-address"></label>
  <input type="text" name="contact-address" id="contact-address" value="Their address here">

  <input type="submit" name="submit">
</form>

<br>
<a href="/">Click here to go back to the homepage</a><br>
