@{Layout="_Layout";}
<br>
<br>
<h4>Your contacts:</h4>
@{
  if (Model.GetAll().Count>0)
  {
    foreach (var person in Model.GetAll())
    {<li><a href='/contact/@person.GetId()'>@person.GetName()</a></li>}
  }
  else
  {
    <p>ALERT:Your contacts list is empty!</p>
  }
}
<br><a href="/">Click here to go home!</a><br>
