@{Layout="_Layout";}
@Html.Partial("Header")
<h5>Please select an option below:</h5>
<br>
<a href="/contact/add">click here to submit a new contact!</a><br>
<a href="/contact/list"> click here to see a list of contacts!</a><br>
<br>
<form action="/contact/clear" method="post">
  <button type="submit" name="eraseAll">Clear List</button>
</form>
