@{Layout="_Layout";}

@Html.Partial("Header")
<br>
<br>
<h4>Your contacts:</h4>
@{
  if (Model.GetAll().Count>0)
  {
    foreach (var person in Model.GetAll())
    {<li><a href='/contact/@person.GetId()'>@person.GetName()</a></li>}
  }
  else
  {
    <p>ALERT: Your contacts list is empty!</p>
  }
}
<br>
<h5>Please select an option below:</h5>
<br>
<a href="/contact/add">click here to submit a new contact!</a><br>
<br>
<form action="/contact/clear" method="post">
  <button type="submit" name="eraseAll">Clear List</button>
</form>
